form {
  margin: 0;
  padding: 0;
  border: none;
}
.form-flex{
    display: flex;
    width: 309px;
    flex-direction: column;
}
.button-allign{
    text-align: right;
}
.invite-div{
    display: flex;
    justify-content: right;
}
.p-float-label label{
    font-size: 13.5px;
  }

  .form-fields{
    gap: 24px !important;
    padding-bottom: 0px !important;
  }

  .form-fields input{
    width: 100%;
  }

  :host{ ::ng-deep{

    .p-multiselect-panel .p-multiselect-header {
      display: none;
    }

  .p-multiselect{
   width: 100%;
    height: 36px;
    border-radius: 3px;
    border: solid 1px #9babb9;
    background-color: #ffffff;
    color: #475059;
    font-size: 13.5px;
  }
  .p-dropdown{

    height: 36px;
    border-radius: 3px;
    border: solid 1px #9babb9;
    background-color: #ffffff;
    color: #475059;
    font-size: 13.5px;
  }

  .styling-input{
    font-size: 13.5px;
    color: #6c757d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.form-fields input:focus{
  outline: none;
}


.ui-dialog {
  z-index: 9999; 
}
  .p-multiselect-items-wrapper{
        max-height: 120px !important;
       
  }

  
  .p-checkbox .p-checkbox-box{
    margin-top: 6px;
    height: 12px;
    width: 12px;
    margin-right: 0rem;
  }

  .p-checkbox .p-checkbox-box .p-icon {
    width: 10px;
    height: 14px;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
  margin-right: 0rem;
}

  .p-multiselect-item{
    padding: 0.5rem 0.5rem;
    font-size: 13.5px;
    color: #6c757d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

 
  }}

  .flexing{
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }

  .p-calendar{
    width: 100% !important;
  }

  .input-share{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content:flex-start ;
    flex-wrap: wrap;;
    width: 40%;
    align-items: center;
    padding-bottom: 24px;
  }

  .input-share-input{
    width: 4.5rem;
    font-size: 10px;
  }


.inside-title{
   font-size: 14px;
   margin-top: -14px;
}

.amounts-inside{
  display: flex;
  justify-content: space-around;
}

.p-inputtext {
  border-radius: 3px;
    border: solid 1px #9babb9;
    background-color: #ffffff;
  width: 100% !important;
  color: #475059;
    font-size: 13.5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}  

.height-name{
  height: 36px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.width-name{
  width: 60%!important;
}

// .width-name-share{
//   width: auto!important;
//   background-color: red;
// }

@media screen and (max-width: 40rem) {
    .custom-dialog {
      width: 80% !important;
    }
    .flexing{
      gap: 16px;
    }
  }
  