<div class="invite">
  <h2 class="prime-font">Outings</h2>
  <h2>
    
    <p-button label="Add Outing" (click)="showDialog()" icon="pi pi-users" styleClass="p-button-sm"
      badgeClass="p-badge-danger" class="button-radius"></p-button>

  </h2>
</div>

<div *ngIf="loading; else content " class="loader-overlay">
  <div class="loader">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<ng-template #content>
  <p-table [value]="outings" [tableStyle]="{'min-width': '60rem'}" [rows]="10" [paginator]="true"
    [totalRecords]="outings.length" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">

    <ng-template pTemplate="header">
      <tr class="outing-header">
        <th class="outing-date">Date</th>
        <th class="outing-description">Description</th>
        <th class="outing-amount">Name</th>
        <th>Involved</th>
        <th></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-outing>
      <tr>
        <td>{{beautifyDate.get(outing.id)}}</td>
        <td>{{outing.description}}</td>

        <td>{{outing.outingName}}</td>
        <td>
          <!-- <span *ngFor="let bodyItem of outing.outingDetails; let last = last">
    
            <p-tag class="tag-with-icon"  tooltipPosition="top"
              placeholder="Top" [rounded]="true" 
              >{{ bodyItem.user.name}}</p-tag>
            <ng-container *ngIf="!last"> </ng-container> </span> -->
            <span *ngFor="let bodyItem of outing.outingDetails; let last = last">
              <p-tag value="{{bodyItem.user.name}}" severity="success" pTooltip="Acknowledged" tooltipPosition="top"
                placeholder="Top" [rounded]="true" *ngIf="bodyItem.status=== 'accepted'"></p-tag>
              <p-tag value="{{bodyItem.user.name}}" severity="danger" pTooltip="Rejected" tooltipPosition="top"
                placeholder="Top" [rounded]="true" *ngIf="bodyItem.status=== 'rejected' && userId !== bodyItem.user.id"></p-tag>
                <p-tag  class="tag-with-icon" severity="danger" pTooltip="Rejected" tooltipPosition="top"
                placeholder="Top" [rounded]="true" *ngIf="bodyItem.status=== 'rejected' && userId === bodyItem.user.id" (click)="showContextMenu2(outing.id, bodyItem.user.id, bodyItem.status)">{{bodyItem.user.name}}<i
                class="pi pi-exclamation-circle"></i></p-tag>
              <p-tag class="tag-with-icon" severity="info" pTooltip="Un-Acknowledged" tooltipPosition="top"
                placeholder="Top" [rounded]="true" *ngIf=" bodyItem.status==='invited' && userId === bodyItem.user.id"
                (click)="showContextMenu1(outing.id, bodyItem.user.id, bodyItem.status)">{{ bodyItem.user.name}}<i
                  class="pi pi-exclamation-circle"></i></p-tag>
              <p-tag value="{{ bodyItem.user.name}}" severity="warning" pTooltip="Un-Acknowledged" tooltipPosition="top"
                placeholder="Top" [rounded]="true"
                *ngIf=" bodyItem.status==='invited' && userId !== bodyItem.user.id"></p-tag>
              <ng-container *ngIf="!last"> </ng-container> </span>
          </td>

            <td class="outing-link"  (click)="showContextMenu(outing)">

              <i class="pi pi-ellipsis-h" label=""></i>
    
            </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{outings ? outings.length : 0 }} outings.
      </div>
    </ng-template>
  </p-table>
</ng-template>
<p-menu  #menu [model]="items" [popup]="true"></p-menu>
<p-menu #menu1 [model]="items1" [popup]="true"></p-menu>
<p-menu #menu2 [model]="items2" [popup]="true"></p-menu>
<p-confirmDialog [style]="{width: '31vw'}"></p-confirmDialog>