<div class="from-container">
  <div class="form reset-password">
    <div class="title-class">
      <h1 class="prime-font title-initial remove-padding">O</h1>
      <h1 class="prime-font remove-padding">uting</h1>
    </div>
    <form #resetInitiationForm="ngForm" (ngSubmit)="initiateResetPassword()">
      <div class="form-fields">
        <span class="p-float-label">
          <input #userNameOREmail="ngModel" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
            required="true" type="text" name="userNameOREmail" pInputText id="userNameOREmail"
            [(ngModel)]="usernameOrEmail!" />
          <label class="prime-font" htmlFor="userNameOREmail">Username/Email<span class="asterisk">*</span></label>
        </span>
      </div>
      <div class="reset-password-form-btns">
        <p-button (click)="goToSignInPage()" label="Cancel" pRipple
          styleClass="p-button-outlined p-button-sm"></p-button>
        <p-button [disabled]="resetInitiationForm.form.invalid" label="Send Email" pRipple styleClass="p-button-sm"
          type="submit"></p-button>
      </div>
    </form>
  </div>
</div>