<div class="from-container">
  <div class="form reset-password">
    <div class="title-class">
      <h1 class="prime-font title-initial remove-padding">O</h1>
      <h1 class="prime-font remove-padding">uting</h1>
    </div>
    <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
      <div class="form-fields">

        <span class="p-float-label">
          <input #newPassword="ngModel" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
            required="true" type="text" name="newPassword" pInputText id="newPassword"
            [(ngModel)]="resetPasswordDto.newPassword!" />
          <label class="prime-font" htmlFor="newPassword">New Password<span class="asterisk">*</span></label>
        </span>

        <span class="p-float-label">
          <input #username="ngModel" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
            required="true" type="text" name="confirmPassword" pInputText id="confirmPassword"
            [(ngModel)]="resetPasswordDto.confirmPassword!" />
          <label class="prime-font" htmlFor="confirmPassword">Confirm Password<span class="asterisk">*</span></label>

        </span>
      </div>
      <div class="reset-password-form-btns">
        <p-button pRipple (click)="goToSignInPage()" label="Cancel"
          styleClass="p-button-outlined p-button-sm"></p-button>
        <p-button pRipple label="Submit" styleClass="p-button-sm" [disabled]="resetPasswordForm.form.invalid"
          type="submit"></p-button>
      </div>
    </form>
  </div>
</div>