.login-form-context-links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 5px;
}

.margin-right{
  text-align:right!important;
}

.p-float-label label{
  font-size: 13.5px;
}

.form-fields input {
  width: 298.67px;
}

.form-fields{
  gap: 24px !important;
  padding-bottom: 24px;
}

.remove-padding{
  margin-top: 0px;
  padding-top:0px;
}